<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Customer</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>New customer</h2>
		
			<form id="customerForm" th:action="@{/customers/(form)}"
				th:object="${customer}" action="#" method="post">
			
				<div class="form-group" 
					th:class="${#fields.hasErrors('name.firstName')} ? 
						'form-group has-error' : 'form-group'">
					<label for="first_name" class="control-label">First Name</label>
					<input id="first_name" class="form-control" type="text" th:field="*{name.firstName}" />
					<span class="help-block" th:if="${#fields.hasErrors('name.firstName')}" 
						th:text="${#fields.errors('name.firstName')}">First Name validation error</span>
				</div>
				
				<div class="form-group" 
					th:class="${#fields.hasErrors('name.lastName')} ? 
						'form-group has-error' : 'form-group'">
					<label for="last_name" class="control-label">Last Name</label>
					<input id="last_name" class="form-control" type="text" th:field="*{name.lastName}" />
					<span class="help-block" th:if="${#fields.hasErrors('name.lastName')}" 
						th:text="${#fields.errors('name.lastName')}">Last Name validation error</span>
				</div>

				<div class="form-group" 
					th:class="${#fields.hasErrors('address')} ? 
						'form-group has-error' : 'form-group'">
					<label for="address" class="control-label">Address</label>
					<textarea id="address" class="form-control" th:field="*{address}" >
					</textarea>
					<span class="help-block" th:if="${#fields.hasErrors('address')}" 
						th:text="${#fields.errors('address')}">Address validation error</span>
				</div>
				
				<input type="submit" class="btn btn-default" value="Save" />
				<a th:href="@{/customers/}" href="customers.html">Go back</a>
				
			</form>
			
		</div>
	</div>
</body>
</html>