<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Customers</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Customers List</h2>
			<a href="form.html" th:href="@{/customers/new}">New customer</a>
			<div class="alert alert-success" 
				th:if="${globalMessage}" th:text="${globalMessage}">
				Message
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Id</td>
						<td>Name</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${customers.empty}">
						<td colspan="3">No entries</td>
					</tr>
					<tr th:each="customer : ${customers}">
						<td th:text="${customer.id}">1</td>
						<td>
							<a href="view.html" 
								th:href="@{'/customers/'+${customer.id}}"
								th:text="${customer.name.firstName + ' ' + customer.name.lastName}">Name</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>