<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Customer</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Customer</h2>
			<a href="form.html" th:href="@{/customers/new}">New customer</a>
			<div class="alert alert-success" 
				th:if="${globalMessage}" th:text="${globalMessage}">
				Customer created.
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>First Name</th>
						<th>Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="id" th:text="${customer.id}">1</td>
						<td id="first_name" th:text="${customer.name.firstName}">First Name</td>
						<td id="last_name" th:text="${customer.name.lastName}">Last Name</td>
					</tr>
				</tbody>
			</table>
			
			<table class="table">
				<thead>
					<tr>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="address" th:text="${customer.address}">Address</td>
					</tr>
				</tbody>
			</table>
			
			<div class="pull-left">
				<a href="form.html" th:href="@{'/customers/modify/'+
				${customer.id}}">Modify</a>
				| <a href="customers" th:href="@{'/customers/remove/'+
				${customer.id}}">Remove</a>
				| <a th:href="@{/customers/}" href="list.html">Go back</a>
			</div>
		</div>
	</div>
</body>
</html>