<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Veggie Burger Delivery</title>
		
		<!--  JQuery -->
		<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css">
		<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
		<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
		<link rel="stylesheet"href="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css">
		<script	src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-static-top">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"><img
						src="../static/img/veggieburger-logo.png"
						th:src="@{/img/veggieburger-logo.png}" />
					</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a class="brand" href="https://bgasparotto.com">Blog</a></li>
					<li><a class="brand" href="https://github.com/bgasparotto">GitHub</a></li>
					<li><a class="brand" href="https://projects.spring.io/spring-boot/">Spring Boot</a></li>
					<li><a class="brand" href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf Layout</a></li>
				</ul>
			</nav>
			<h1 layout:fragment="header">Header Template</h1>
			<div layout:fragment="content">Content Template</div>
		</div>
	</body>
</html>