<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Veggie Burger <small>Control Panel</small></h2>
			<a th:href="@{/customers}" class="btn btn-lg btn-primary">Customers</a>
			<a th:href="@{/items}" class="btn btn-lg btn-primary">Items</a>
			<a th:href="@{/purchases}" class="btn btn-lg btn-primary">Purchases</a>
			<a th:href="@{/environment}" class="btn btn-lg btn-info">Environment</a>
			<a th:href="@{/h2}" class="btn btn-lg btn-info">H2 Console</a>
			<a th:href="@{/api}" class="btn btn-lg btn-info">REST Browser</a>
		</div>
	</div>
</body>
</html>