<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 
	    	The above 3 meta tags *must* come first in the head; any other head
	    	content must come *after* these tags 
	    -->
	
		<title>Veggie Burger Delivery</title>
		
		<!--  JQuery -->
		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"
			href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
		<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"
			src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<script	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
		<!-- Bootstrap starter theme -->
		<link rel="stylesheet"th:href="@{/css/bootstrap-theme.css}"
			href="../static/css/bootstrap-theme.css">
	</head>
	
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Veggie Burger</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}">Home</a></li>
						<li><a href="https://bgasparotto.com">Blog</a></li>
						<li><a href="https://github.com/bgasparotto">GitHub</a></li>
						<li><a href="https://projects.spring.io/spring-boot/">Spring Boot</a></li>
						<li><a href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf Layout</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		
		<div class="container" layout:fragment="content" role="main"></div>
		
	</body>
</html>