<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Item</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header">New item</h1>
	<div layout:fragment="content" class="input-form">
		<div class="well">
		
			<form id="itemForm" th:action="@{/items/(form)}"
			th:object="${item}" action="#" method="post" class="form-horizontal">
			
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
					<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
						Validation errors
					</p>
				</div>
				
				<input type="hidden" th:field="*{id}"
					th:class="${#fields.hasErrors('id')} ? 'field-error'" />
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name</label>
					<input class="col-sm-10" type="text" th:field="*{name}"
						th:class="${#fields.hasErrors('name')} ? 'field-error'" />
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="price">Price</label>
					<input class="col-sm-10" th:field="*{price}"
						th:class="${#fields.hasErrors('price')} ? 'field-error'"/>
				</div>
				
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" value="Save" />
				</div>
				<br/>
				
				<a th:href="@{/items/}" href="items.html">Go back</a>
				
			</form>
			
		</div>
	</div>
</body>
</html>