<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Items</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Items List</h2>
			<a href="form.html" th:href="@{/items/new}">New item</a>
			<div class="alert alert-success" 
				th:if="${globalMessage}" th:text="${globalMessage}">
				Message
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Id</td>
						<td>Name</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${items.empty}">
						<td colspan="3">No entries</td>
					</tr>
					<tr th:each="item : ${items}">
						<td th:text="${item.id}">1</td>
						<td>
							<a href="view.html" 
								th:href="@{'/items/'+${item.id}}"
								th:text="${item.name}">Name</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>