<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Purchase</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script>
		$(function() {
			$("#date").datepicker({
				changeMonth : true,
				changeYear : true,
				dateFormat : 'dd-mm-yy'
			});
		});
	</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>New purchase</h2>
		
			<form id="purchaseForm" th:action="@{/purchases/(form)}"
			th:object="${purchase}" action="#" method="post">
			
				<input type="hidden" th:field="*{id}"/>
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" 
							th:class="${#fields.hasErrors('customer.name')} ? 
								'form-group has-error' : 'form-group'">
							<label for="customerName" class="control-label">Customer</label>
							<select id="customerName" class="form-control" th:field="*{customer}" >
								<option th:each="customer : ${availableCustomers}" 
									th:value="${customer.id}" 
									th:text="${customer.name.firstName + ' ' + customer.name.lastName}" />
							</select>
							<span class="help-block" th:if="${#fields.hasErrors('customer.name')}" 
								th:text="${#fields.errors('customer.name')}">Name validation error</span>
						</div>
					</div>
				
					<div class="col-md-6">
						<div class="form-group" 
							th:class="${#fields.hasErrors('date')} ? 
								'form-group has-error' : 'form-group'">
							<label for="date" class="control-label">Date</label>
							<input id="date" class="form-control" type="text" th:field="*{date}" />
							<span class="help-block" th:if="${#fields.hasErrors('date')}" 
								th:text="${#fields.errors('date')}">Date validation error</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" 
							th:class="${#fields.hasErrors('items')} ? 
								'form-group has-error' : 'form-group'">
							<label for="itemsList" class="control-label">Items</label>
							<select id="itemsList" class="form-control" multiple="multiple" 
								th:field="*{items}" name="itemsList" size="5">
								<option th:each="item : ${availableItems}" 
									th:value="${{item}}" th:text="${item.name}" />
							</select>
							<span class="help-block" th:if="${#fields.hasErrors('items')}" 
								th:text="${#fields.errors('items')}">Items validation error</span>
						</div>
					</div>
				</div>
				
				<input type="submit" class="btn btn-default" value="Save" />
				<a th:href="@{/purchases/}" href="purchases.html">Go back</a>
				
			</form>
			
		</div>
	</div>
</body>
</html>