<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Purchase</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Purchase</h2>
			<a href="form.html" th:href="@{/purchases/new}">New purchase</a>
			<div class="alert alert-success" 
				th:if="${globalMessage}" th:text="${globalMessage}">
				Purchase created.
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Customer's name</th>
						<th>Customer's address</th>
						<th>Date</th>
						<th>Total Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="id" th:text="${purchase.id}">123</td>
						<td id="customer-name" th:text="${purchase.customer.name}">Name</td>
						<td id="customer-address" th:text="${purchase.customer.address}">Address</td>
						<td id="date" th:text="${#dates.format(purchase.date,'dd/MM/yyyy HH:mm:ss')}">10/12/2017 11:22:33</td>
						<td id="total-value" th:text="${purchase.totalValue}">00.0</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Items</th>
					</tr>
				</thead>
				<tbody>
					<tr id="items" th:each="item : ${purchase.items}">
						<td th:text="${item.name}">Item's name"></td>
					</tr>
				</tbody>
			</table>
			
			<div class="pull-left">
				<a href="form.html" th:href="@{'/purchases/modify/'+
				${purchase.id}}">Modify</a>
				| <a href="purchases" th:href="@{'/purchases/remove/'+
				${purchase.id}}">Remove</a>
				| <a th:href="@{/purchases/}" href="list.html">Go back</a>
			</div>
		</div>
	</div>
</body>
</html>