<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Purchase</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron">
			<h2>Purchase</h2>
			<a href="form.html" th:href="@{/purchases/new}">New purchase</a>
			<div class="alert alert-success" 
				th:if="${globalMessage}" th:text="${globalMessage}">
				Purchase created.
			</div>
			
			<table class="table">
				<tbody>
					<tr>
						<th class="col-md-2">Id</th>
						<td class="col-md-10" id="id" th:text="${purchase.id}">1</td>
					</tr>
					<tr>
						<th class="col-md-2">Customer's Name</th>
						<td class="col-md-10" id="name" 
							th:text="${purchase.customer.name.firstName + ' '
									 + purchase.customer.name.lastName}">1</td>
					</tr>
					<tr>
						<th class="col-md-2">Customer's Address</th>
						<td class="col-md-10" id="address" 
							th:text="${purchase.customer.address.addressLine1 + ', ' + 
									(not #strings.isEmpty(purchase.customer.address.addressLine2) ? (purchase.customer.address.addressLine2 + ', ') : '') + 
									purchase.customer.address.postCode + ', ' + 
									purchase.customer.address.cityName + ', ' + 
									purchase.customer.address.stateName + ', ' + 
									purchase.customer.address.country.name}">Address</td>
					</tr>
					<tr>
						<th class="col-md-2">Date</th>
						<td class="col-md-10" id="date" 
							th:text="${#dates.format(purchase.date,'dd/MM/yyyy')}">10/12/2017</td>
					</tr>
					<tr>
						<th class="col-md-2">Total Value</th>
						<td class="col-md-10" id="total_value" th:text="${purchase.totalValue}">0.00</td>
					</tr>
				</tbody>
			</table>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Items</th>
					</tr>
				</thead>
				<tbody>
					<tr id="items" th:each="item : ${purchase.items}">
						<td th:text="${item.name}">Item's name"></td>
					</tr>
				</tbody>
			</table>
			
			<div class="pull-left">
				<a href="form.html" th:href="@{'/purchases/modify/'+
				${purchase.id}}">Modify</a>
				| <a href="purchases" th:href="@{'/purchases/remove/'+
				${purchase.id}}">Remove</a>
				| <a th:href="@{/purchases/}" href="list.html">Go back</a>
			</div>
		</div>
	</div>
</body>
</html>